@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: 'Montserrat';
    background-color: #f9f9f9;
    color: #07497a;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 4vw 48px;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 0 24px;
    border-bottom: 1px solid #ddd;
}

.brand {
    flex: 0 0 180px;
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.brand img {
    width: 90px;
}

.menu {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 24px;
}

.menu a {
    color: #07497a;
    padding: 22px 12px;
    text-decoration: none;
    font-size: 22px;
    transition: opacity .2s;
    font-weight: bold;
}

.menu a:hover {
    opacity: .7;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0.5rem;
}

.avatar-circle {
    width: 60px;
    height: 60px;
    background-color: #07497a;
    color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.avatar-circle:hover {
    background-color: #0d5f9c;
    transform: scale(1.05);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

/* 
-- ICONS
*/

.avatar-circle i {
    font-size: 60px;
    color: #fff;
}